body{
    padding: 10px;
}

form .btn{
    margin-bottom: 10px;
}

.entryForm{
    display: none;
    margin: 15px 0 0 0;
}

.entryForm input[type=text]{
    width: 98%;
}

.entryForm textarea{
    width: 98%;
}

.entry{
    position: relative;
}

.controls{
    position: absolute;
    top: 10px;
    right: 10px;
}

.col{
    width: 49%;
    margin-right: 1%;
    float: left;
}

.wide{
    width: 79%;
}

.wideLink{
    width: 100%;
    display: inline-block;
}

.narrow{
    width: 19%;
}

ul{
    margin-bottom: 0;
}

ul li{
    list-style-type: none;
}

.categoryEntry{
    width: 97%;
    padding-left: 5px;
    line-height: 36px;
    margin-bottom: 2px;
    background: #ddd;
    border-radius: 3px;
    position: relative;
    display: inline-block;
}

.categoryEntry.active{
    background: #bbb;
}

.categoryEntry .controls{
    top: 0;
    right: 3px;
}

.categoryEntry .entryForm{
    margin: 3px 0 0 0;
}


.categoryEntry .entryForm input[type=text]{
    width: 93%;
}